<h1>Welcome $NAME</h1>

<div class="container">
  <a href="/browse" class="btn btn-primary btn-lg"><span data-feather="search" class="feather-big"></span> Browse library</a>
  <a href="/borrowed" class="btn btn-primary btn-lg"><span data-feather="book-open" class="feather-big"></span> My borrowed books</a>
</div>
<br>
Link : Lend book / Browse shelf
Link : Give back book

Currently: x books widthdrawn

History:
x widthdrawn
x returned
...
