<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Bienvenue <%= user.username %></h1>
  <div class="btn-toolbox">
    <a href="/browse" class="btn btn-primary"><span data-feather="search" class="feather"></span> Rechercher dans la bibliothèque</a>
    <a href="/borrowed" class="btn btn-primary"><span data-feather="book-open" class="feather"></span> Mes emprunts</a>
  </div>
</div>

<% include ../assets/userHistory %>
