<style media="screen">
  #main-nav {
    display: none;
  }
</style>
<div class="h-100">
  <div class="text-center my-auto">
    <h1>Bouquineur</h1>
    <p>Veuillez placer votre carte RFID pour vous connecter à votre compte</p>
    <div id="error-alert" class="alert alert-danger"></div>
  </div>
</div>
