</head>
<body>
  <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow navbar-expand" id="main-nav">
    <a class="navbar-brand col-sm-3 col-md-2 external" href="/">Bouquineur</a>
    <ul class="navbar-nav navbar-collapse">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Acceuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/browse">Bibliothèque</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/borrowed">Mes emprunts</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <div class="container m-auto p-5">
